# Compiled files
terraform/APP/*.tfstate
terraform/APP/*.tfstate.backup

# Module directory
#~/terraform/mediacorp/github-repo/terraprovi/terraform/APP/*.tfstate
#~/terraform/mediacorp/github-repo/terraprovi/terraform/APP/*.tfstate

# Sensitive Files
#/variables.tf
