# Compiled files
terraform/APP/terraform.tfstate.backup
terraform/APP/terraform.tfstate

# Module directory
#~/terraform/mediacorp/github-repo/terraprovi/terraform/APP/*.tfstate
#~/terraform/mediacorp/github-repo/terraprovi/terraform/APP/*.tfstate

# Sensitive Files
#/variables.tf
